.manage-schedule-container {
    .m-s-title {
        text-transform: uppercase;
        margin-top: 15px;
        font-weight: 600;
        font-size: 17px;
        text-align: center;
        margin-bottom: 15px;
    }

    .pick-hour-container {
        padding-bottom: 20px;
        padding-top: 20px;
        display: flex;
        gap: 20px;
        flex-wrap: wrap;

        button {
            padding: 5px 15px;
            border: 1px solid grey;
        }

        .btn-schedule {
            padding: 5px 15px;
            border: 1px solid grey;

            &.active {
                background-color: orange;
                color: white;
                border-color: orange;
            }
        }
    }

    .btn-save-schedule {
        margin-top: 20px;


    }
}