.doctor-schedule-container {
    border-right: 1px solid green;
    height: 100%;

    .all-schedule {
        select {
            border-bottom: 1px solid #ddd;
            border-top: none;
            border-right: none;
            border-left: none;
            outline: none;
            cursor: pointer;
            padding: 5px 0;
            color: #337ab7;
            font-weight: 600;

            option {
                cursor: pointer;
            }
        }
    }

    .all-available-time {
        .text-calendar {
            color: #333;

            margin: 10px 0;

            span {
                text-transform: uppercase;
                margin-right: 5px;
            }
        }

        .time-content {

            .time-content-btns {
                display: flex;
                gap: 15px;
                flex-wrap: wrap;


                button {
                    padding: 8px 10px;
                    border: none;
                    outline: none;
                    background-color: grey;
                    min-width: 120px;
                    border-radius: 3px;
                    font-size: 10px;
                    background-color: #fff04b;
                    font-weight: 600;

                    &:hover {
                        background-color: #45c3d2;
                        color: white;
                    }

                }

                .no-schedule {
                    font-style: italic;
                    font-size: 15px;
                }
            }

            .book-free {
                margin-top: 10px;
            }
        }
    }


}