.section-share {
    &.section-specialty {
        background: #f5f5f5;
    }

    &.section-medical-facility {
        background: white;
    }

    &.out-standing-doctor {
        background: #f5f5f5;


    }

    &.handbook {
        background: white;

    }

    &.about {
        border: 1px solid red;
    }

    .specialty-body {
        display: flex;
        flex-direction: column;
        /* xếp ảnh + text theo cột */
        justify-content: center;
        align-items: center;
        height: 100%;
        cursor: pointer;

    }

    .img-container {
        display: flex;
        justify-content: center;
        /* căn giữa ngang */
        align-items: center;
        /* căn giữa dọc */
        width: 95%;
        height: 200px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover; // hoặc contain nếu muốn thấy trọn mặt
            display: block;
        }



        /* chiều cao khung ảnh */
        &.MedicalFacility {
            border-style: ridge;
        }

        &.OutStandingDoctor {
            width: 185px;
            height: 185px;
            margin: 0 auto;
        }

    }

    .img-container img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        margin: 0 50px;

        /* giữ tỉ lệ, không méo */
    }
}

.section-share {
    height: 330px;



    .section-content {
        margin: 0 50px;
        display: flex;
        flex-direction: column;

        .section-header {
            height: 60px;
            margin-top: 20px;

            .title-section {
                font-weight: 600;
                font-size: 22px;
            }

            .btn-section {
                float: right;
                padding: 10px 15px;
                border: none;
                outline: none;
                display: block;
                color: black;
                background: #ebebeb;
                cursor: pointer;
            }
        }

        .specialty-mid {}


    }



}

.slick-prev {


    // position: relative !important;
    z-index: 1000;
    left: -40px !important;
    height: 40px !important;
    width: 40px !important;
}

.slick-prev:before {
    color: red !important;

    font-size: 30px !important;
}

.slick-next {


    // position: relative !important;

    right: -40px !important;
    height: 40px !important;
    width: 40px !important;
}

.slick-next:before {
    color: red !important;

    font-size: 30px !important;
}

// .slick-disabled {

//     display: none !important;
// }
.slick-disabled {
    display: none !important;
}


.home-footer {
    text-align: center;
    padding-top: 8px;

    a {
        text-decoration: unset;
    }
}